html {
  font-family: 'Roboto', sans-serif;
  background-color: #222629;
}

h1 {
  color: #87c232;
}

h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

h2, h3 {
  color: #618930;
}

h3 {
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: #6a6e71;
}

p {
  color: #edf5e1;
}
